@font-face {
  font-family: 'MyCustomFont';
  src: url('../font/custom.ttf') format('truetype');
}
#heading{
    font-family: "MyCustomFont",sans-serif;
}
#container{
    border:2px solid rgb(218, 212, 212);
    width:fit-content;
    height:fit-content;
    text-align: center;
    margin:auto;
    transition: transform 2s ease-in-out;
  animation: spinOut 2s forwards;

}
#certificate{
border:2px solid black;
    width:25vw;
    height:fit-content;
    text-align: center;
    margin:10px;
    padding:8px;
    color:black;
}
@keyframes spinOut {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1); 
  }
}