main{
    background-image: url("../images/bg.jpg");
    background-size:cover;
    height:80vh;
    width:90vw;
    margin:auto;
    display:flex;
    flex-direction: column;
    gap:15vh;
}
h3{
    color:rgb(155, 140, 243);
    text-shadow: 2px 2px 5px rgba(155,140,243,0.9);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    position:relative;
    top:4vh;
}
.content{
    width:25vw;
    background-color: rgba(52, 2, 2, 0.544);
    height:40vh;
    margin:auto;
    padding:2vh;
} 
ul{
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2vh;
    list-style-type: none;
}
ul li a{
    font-size: 45px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(218, 215, 215);
    transition: all 0.3 ease;
    padding:8px 20px;
}
ul li a:hover{
    background-color: rgb(177, 177, 177);
    border-radius: 3px;
      
}
.content:hover{
    background-color:transparent;
}